<h2>CREATE NEW PROJECT</h2>
<section class="section">
        <div class="container-project1">
            <form action="create-project" method="post">
                <input type="text" name="name" id="new-project" placeholder="New Project">
                <textarea name="description" id="description" cols="30" rows="10" placeholder="describe you project"></textarea>
                <input type="text" name="imgUrl" id="img">
                <button>Create</button>
            </form>
        </div>
    </section>