<section class="login-signup">
<div class="h2">
    <h2>CREATE NEW PROJECT</h2>
</div>
        <div class="container-form-login-signup">
            <form class="project-form" action="create-project" method="post">
                <input class="input" type="text" name="name" id="new-project" placeholder="New Project">
                <textarea class="input" name="description" id="description" cols="30" rows="10" placeholder="Describe you project"></textarea>
                <input class="input" type="text" name="imgUrl" id="img" placeholder="Image">
                <button class="btn">Create</button>
            </form>
        </div>
    </section>

    