
<section class="container-edit-project">
<h2>DELETE A PROJECT</h2>
        <div class="section-project">
            <form action="/delete-project/{{projectId}}" method="post" name="search-user">
                <button class="btn" type="submit">delete</button>
            </form>
        </div>
    </section>