
<section class="login-signup">
            <div class="h2">
                <h2>DELETE A PROJECT</h2>
            </div>
        <div class="container-form-login-signup">
            <form class="center-delete" action="/delete-project/{{projectId}}" method="post" name="search-user">
                
                <button class="btn-delete" type="submit">DELETE</button>
            </form>
        </div>
    </section>