
<section class="login-signup">

        <div class="container-form-login-signup">
            <form class="project-form" action="/edit-project/{{projectId}}" method="post">
                <textarea class="input" type="text" name="name" id="new-project">{{thisProject.name}}</textarea>
                <textarea class="input" name="description" id="description" cols="30" rows="10">{{thisProject.description}}</textarea>
                <input class="input" type="text" name="imgUrl" id="img" placeholder="Image">
                <button class="btn">DONE</button>
            </form>
        </div>
    </section>
