<h1>working !!!</h1>
<section class="container-edit-project">

        <div class="section-project">
            <form class="project-form" action="/edit-project/{{projectId}}" method="post">
                <input class="input" type="text" name="name" id="new-project" placeholder="New Project">
                <textarea class="input" name="description" id="description" cols="30" rows="10" placeholder="Describe you project"></textarea>
                <input class="input" type="text" name="imgUrl" id="img" placeholder="Image">
                <button class="btn">DONE</button>
            </form>
        </div>
    </section>
