{{!-- <h1>{{appTitle}} 🚀</h1>
<h2>welcome to Portfolio</h2> --}}

<div class="container-index">
    <div class="empity">

    </div>
<div class="text">
        <h2>Welcome {{loggedInUser.username}}</h2>
    <div class="logo-index">
        <i class="fa-solid fa-puzzle-piece logo"></i><h1>FOR T FOLIO</h1>
    </div>
    <p>
    Introducing "For T-Folio" - the ultimate platform for showcasing your talent and creativity. With For T-Folio, you have the power to create a stunning online portfolio that captivates and impresses. Our intuitive interface makes it effortless to upload and organize your projects, allowing you to curate a portfolio that truly represents your unique style and expertise.
    Join our thriving community of talented individuals who have already chosen For T-Folio as their go-to platform. Connect with like-minded creatives, gain inspiration, and expand your network. By showcasing your work on For T-Folio, you'll increase your visibility and open doors to exciting opportunities.
    Customize your profile with a bio, contact information, and social media links to create a comprehensive online presence. Seamlessly integrate your portfolio with other platforms or websites to maximize your reach and exposure. We prioritize accessibility and search engine optimization (SEO) to ensure that your portfolio reaches the widest audience possible.
    For T-Folio is your passport to success in the digital world. Join us today and let your talent shine through a visually stunning and user-friendly portfolio experience. Unleash your creativity and make a lasting impression with For T-Folio.
</p>
</div>
</div>