<h1>{{appTitle}} 🚀</h1>
<div class="container">
        <form class="form-welcome" action="login/register" method="get">
            <button class="btn-welcome-page btn" type="submit">Login</button>
            <button class="btn-welcome-page btn" type="submit">Register</button>
        </form>
    </div>