

<section class="container-edit-project">
    <h4>EDIT</h4>
<div class="section-project">
    <h1>{{this.name}}</h1>
    <p>{{this.description}}</p>
    <img src="{{this.imgUrl}}" alt="{{this.name}}">
</div>
<div class="button">
<a href="http:#"><button class="btn-register btn" type="submit">EDIT</button></a>
<a href="http:#"><button class="btn-register btn" type="submit">DONE</button></a>
<a href="http:#"><button class="btn-register btn" type="submit">DELETE</button></a>
</div>
</section>
