
<form action="/user-details" method="post">

    <textarea placeholder="decription" name="userDescription"></textarea>
    <input type="text" name="userImage" id="">
    <button type="submit">done</button>
</form>

{{!--something  --}}
