
<form action="/user-details" method="post" enctype="multipart/form-data">

    <textarea placeholder="decription" name="userDescription"></textarea>
    <input type="file" name="userImage">
    <button type="submit">done</button>
</form>

{{!--something  --}}
