<div class="login-signup">
    <section class="container-form-login-signup">
    <form class="form-login-signup" action="/user-details" method="post">
        <textarea class="input" type="text" cols="30" rows="10" name="userDescription">{{userInformation.currentUser.description}}</textarea>
        <textarea class="input" type="text" name="userImage" id="">{{userInformation.currentUser.userImage}}</textarea>
        <button class="btn" type="submit">done</button>
    </form>
    </section>
</div>
