@media only screen and (max-width: 400px) {
.login-signup {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191D88;
  }
  
  .container-form-login-signup {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2d7f4;
    box-shadow: -1px -1px 15px -3px #FFC436;
    border-radius: 50px 0 50px 0;
  }
  
  .form-login-signup {
    display: flex;
    flex-direction: column;
  }
  
  .login-signup-h2 {
    margin-bottom: 30px;
    font-family: 'Poiret One', sans-serif;
  }
}