@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*
FONT FAMILY
font-family: 'Poiret One', sans-serif;
*/

/* colors

#191D88
#1450A3
#337CCF
#FFC436 */



body {
    width: 100vw;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100vw;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.ul-navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;

    list-style: none;
}

.fa-solid {
    margin: 0 5px;
}

.btn-navbar {
    padding: 10px;
}
.btn-navbar > a {
    color: #191D88;
}
#logout {
    color: #FFC436;
    font-weight: 900;
}

/* .btn-logout {
    color: #FFC436;
} */



@media only screen and (min-width: 400px) {
    a {
        text-decoration: none;
        cursor: pointer;
        padding: 10px 20px;
        color: #050551;
    }

    .navbar {
        width: 100vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        background-color: rgba(255, 255, 255, 0.813);
    }

    .navbar>a {
        text-decoration: none;
    }

    .ul-navbar {
        width: 30%;
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    .fa-solid {
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .logout {
        color: #FFC436;
        font-weight: 900;
    }
}