.section-edit-project {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    background-color: #1450A3;
    box-shadow: -1px -1px 15px -3px #FFC436;
    border-radius: 50px 0 50px 0;
    padding: 0 20px;
    text-align: center;
}

.edit-stuff {
    height: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.edit-project-img {
    width: 200px;

}

.edit-project-description {
    height: 80%;
    width: 200px;
    background-color: rgba(240, 248, 255, 0.327);
}

.edit-project-img img {
    width: 100%;
}