body {
  height: 100vh;
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/*INDEX PAGE*/
.container{
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  width: 90%;
}


/*PORTFOLIO PAGE*/

.container-portfolio{
  height: 600px;
  width: 100%;
  background-color: blueviolet;

}
.ul-container{
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  list-style: none;
}