@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


/*
font-family: 'Poiret One', sans-serif;
*/


/*UNIVERSAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn {
  padding: 25px 30px;
  background-color: #191D88;
  color: #337CCF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: #337CCF;
  color: #050801;
  box-shadow: 0 0 5px #337CCF,
    0 0 25px #337CCF,
    0 0 50px #337CCF,
  
}

.input {
  padding: 5 10px;
  margin-bottom: 10px;
  border: none;
}

img {
  border-radius: 10px;
  max-height: 400px;
}

/*INDEX PAGE*/
.container-index {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url(/images/foto-de-uma-linda-mulher-pensativa-pondera-sobre-algo-olha-pensativamente-de-lado-tem-algumas-ideias-em-mente-vestida-casualmente-isolada-na-parede-azul-espaco-em-branco-para-seu-anuncio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.empity {
  width: 50%;
}

.text {
  width: 40%;
  text-align: center;
  line-height: 25px;
  color: rgb(5, 5, 81);
  font-family: 'Poiret One', sans-serif;
}

.logo-index {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*LOGIN ---  SIGNUP*/
.login-signup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 195, 255);
}

.container-form-login-signup {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(81, 214, 255, 0.865);
  border-radius: 20px;
}

.form-login-signup {
  display: flex;
  flex-direction: column;
}

.login-signup-h2 {
  margin-bottom: 30px;
  font-family: 'Poiret One', sans-serif;
}



/*PORTFOLIO PAGE*/

.portfolio-buttons {
  margin-bottom: 10px;
}

.container-portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-container {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  /*   display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; */
}

.left {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

/* .profile-img {
  height: 100px;
  width: 100px;
  background-color: rgb(253, 193, 114);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
} */

.welcome {
  display: flex;
  align-items: flex-end;
}

.right {
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right>p {
  font-size: 10px;
}

.logo-portfolio-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/*MAIN CONTAINER*/
.main-container-portfolio {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  min-height: 400px;
  background-color: rgb(173, 231, 231);
}

.user-container>p {
  width: 90%;
}

.profile-user-img-portfolio {
  height: 100px;

}

.container-cards {
  margin: 20px 0;
  height: 100%;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.name-project {
  position: absolute;
  top: 8px;
  left: 16px;
}

.cards {
  position: relative;
  text-align: center;
  color: rgb(255, 0, 0);
  height: 230px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;

}

.cards .img-portfolio {
  height: 100%;
  width: 100%;
}

/*CREATE-PROJECT*/
.login-signup>h2 {
  position: absolute;
}

.project-form {
  display: flex;
  flex-direction: column;
}

/* EDIT PROJECT*/
.container-edit-project {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.section-project {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 81, 0.35);
  border-radius: 20px;
  padding: 0 20px;
  text-align: center;
}

.section-project>h1,
p,
img {
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
}


@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
  }

  /*INDEX PAGE*/
  .container-index {
    width: 100vw;
    background-image: url(/images/foto-de-uma-linda-mulher-pensativa-pondera-sobre-algo-olha-pensativamente-de-lado-tem-algumas-ideias-em-mente-vestida-casualmente-isolada-na-parede-azul-espaco-em-branco-para-seu-anuncio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .empity {
    width: 50%;
  }

  .text {
    width: 40%;
    text-align: center;
    line-height: 25px;
    color: rgb(5, 5, 81);
    font-family: 'Poiret One', sans-serif;
  }

  .logo-index {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}