body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/*INDEX PAGE*/
.container{
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  width: 90%;
}